.contentFeedContainer {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  border-right: 1px solid grey;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.contentFeedContainer::-webkit-scrollbar {
  width: 10px;
}

.contentFeedContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.contentFeedContainer::-webkit-scrollbar-thumb {
  background: #888;
}

.contentFeedContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tagSearchTopBarToFollow {
  height: 20%;
  width: 100%;
}

.userSearchTopBar {
  height: fit-content;
  min-width: 95%;
  max-width: 95%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  /* background-color: #f1f1f1; */
}

.userDataWhenSearchedLeftPart {
  height: auto;
  min-width: 16%;
  /* background-color: #888; */
  margin: 0%;
  padding: 0%;
}

.userDataWhenSearchedProfilePic {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.userDataWhenSearchedRightPart {
  height: fit-content;
  min-width: 80%;
  /* background-color: aqua; */
  margin: 0%;
  padding: 0%;
}

.userDataWhenSearchedUsername {
  margin: 0%;
  padding: 0%;
  color: azure;
  font-family: "Lato", sans-serif;
}

.userDataWhenSearchedBio {
  margin: 0%;
  padding: 0%;
  color: azure;
  font-family: "Parkinsans", sans-serif;
  font-size: 0.923rem;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
