.contentFeedContainer {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  border-right: 1px solid grey;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.contentFeedContainer::-webkit-scrollbar {
  width: 10px;
}

.contentFeedContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.contentFeedContainer::-webkit-scrollbar-thumb {
  background: #888;
}

.contentFeedContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.followTagsMessage {
  color: white;
  font-family: "Parkinsans", sans-serif;
  text-align: center;
}

.loadingMessage,
.noMoreContentMessage,
.noContentMessage {
  color: white;
  font-family: "Parkinsans", sans-serif;
  text-align: center;
}

/* Tag search bar styles */
.tagSearchTopBarToFollow {
  background-color: rgb(60, 60, 55);
  height: 50px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.tagTitle {
  color: white;
  font-family: "Lato", sans-serif;
  margin: 0;
  font-size: 1.5rem;
  margin-left: 50px;
}

.followButton {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  margin-right: 50px;
  font-family: "Parkinsans", sans-serif;
  border-radius: 10px;
  border: 1px solid #3a3a3a;
  cursor: pointer;
}

.userSearchTopBar {
  height: fit-content;
  min-width: 95%;
  max-width: 95%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.userDataWhenSearchedLeftPart {
  height: auto;
  min-width: 16%;
  margin: 0%;
  padding: 0%;
}

.userDataWhenSearchedProfilePic {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.userDataWhenSearchedRightPart {
  height: fit-content;
  min-width: 80%;
  margin: 0%;
  padding: 0%;
}

.userDataWhenSearchedUsername {
  margin: 0%;
  padding: 0%;
  color: azure;
  font-family: "Lato", sans-serif;
}

.userDataWhenSearchedBio {
  margin: 0%;
  padding: 0%;
  color: azure;
  font-family: "Parkinsans", sans-serif;
  font-size: 0.923rem;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.enterCommentDiv {
  height: 30px;
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.enterCommentDiv > input {
  height: 100%;
  width: 90%;
  border: 1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0%;
  padding: 0%;
  background-color: transparent;
  user-select: none;
  outline: none;
  color: azure;
  width: 90%;
}

.enterCommentDiv > input:focus {
  border: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

.enterCommentDiv > img {
  height: 35px;
  width: 35px;
}
.allCommentsContainer {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
