.contentFeedContainer {
  height: 100%;
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid grey;
  overflow-y: scroll;
}

.contentFeedContainer::-webkit-scrollbar {
  width: 10px;
}

.contentFeedContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.contentFeedContainer::-webkit-scrollbar-thumb {
  background: #888;
}

.contentFeedContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}
