.singularSearchResultContainer {
  height: 30px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}

.singularSearchResultContainer:hover {
  background-color: #484242;
}

.searchResultName {
  color: rgb(222, 212, 212);
  font-family: "lato", sans-serif;
  margin-left: 10px;
}
